/* #region RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* #endregion RESET */
/* #region DEBUG */
.debug {
    border: 2px dashed red;
}
.debug section {
    background-color: lightblue;
    border: 1px dashed grey;
}
.debug .container {
    background-color: lightcoral;
    border: 1px dashed grey;
}
.debug .row {
    background-color: lightcyan;
    border: 1px dashed grey;
}
.debug [class^='col-'] {
    background-color: lightgreen;
    border: 1px dashed grey;
}
.debug .card {
    background-color: lightsalmon;
    border: 1px dashed grey;
}
/* #endregion DEBUG */
/* #region GENERAL */
body {
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1180px;
    width: 90%;
    margin: auto;
}
.flexible {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.space-btw {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.ta-center {
    text-align: center;
}
.d-none {
    display: none;
}
.padd {
    padding: 0px 0px;
}
.padd-bot {
    padding-bottom: 0px;
}
.padd-sides {
    padding-right: 0px;
    padding-left: 0px;
}
/* #endregion GENERAL */
/*------------------------------ Mobile First ------------------------------*/
/* #region HEADER CON NAV */
header {
    background-color: #0084fd;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 20px #0083fd6c;
    margin-bottom: 2rem;
}
header nav {
    padding: 1rem 0;
    color: white;
}
/* #endregion HEADER CON NAV */
/* #region MAIN */
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-12 {
    width: 100%;
}
#services > .container > .row > .col-12 > .card {
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 1rem;
    transition: .5s;
}
#services > .container > .row > .col-12 > .card:hover {
    background-color: #cbe7ff;
}
.card-section-one .main {
    padding-top: 2rem;
    padding-left: 2rem;
}
.card-section-one > h4 {
    color: #0084fd;
    font-size: 2rem;
}
.card-section-one > p {
    color: #5a6e7f;
    padding-bottom: 3rem;
}
.card-section-one > a {
    text-decoration: none;
    color: white;
    padding: .7rem 3rem;
    background-color: #0084fd;
    letter-spacing: 3px;
    border-radius: 20px;
    transition: .5s;
}
.card_section_one>a:hover {
    color: black;
}















/* #endregion MAIN */

/*------------------------------ DESKTOP ------------------------------*/
@media screen and (min-width: 1180px) {
    .container {
        width: 80%;
    }
    header nav > .mobile-menu {
        display: none;
    }
    header nav > .links {
        display: flex;
        gap: 1.5rem;
    }
    header nav > .links > a:not(:last-child) {
        text-decoration: none;
        color: #d9edff;
        font-weight: 100;
        margin: 0.5rem;
        transition: .3s;
    }
    .start {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        transition: .5s;
    }
    .start:hover {
        background-color: lightblue;
        color: blue;
        padding: 0.5rem 3rem;
    }
}