/* #region RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* #endregion RESET */
/* #region DEBUG */
.debug {
    border: 2px dashed red;
}
.debug section {
    background-color: lightblue;
    border: 1px dashed grey;
}
.debug .container {
    background-color: lightcoral;
    border: 1px dashed grey;
}
.debug .row {
    background-color: lightcyan;
    border: 1px dashed grey;
}
.debug [class^='col-'] {
    background-color: lightgreen;
    border: 1px dashed grey;
}
.debug .card {
    background-color: lightsalmon;
    border: 1px dashed grey;
}
/* #endregion DEBUG */
/* #region GENERAL */
body {
    font-family: 'PT Sans', sans-serif;
}
.container {
    max-width: 1152px;
    width: 90%;
    margin: auto;
}
.flexible {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.col-flex {
    flex-direction: column;
}
.space-btw {
    justify-content: space-between;
}
.jc-center {
    justify-content: center;
}
.ai-center {
    align-items: center;
}
.ta-center {
    text-align: center;
}
.d-none {
    display: none;
}
.padd {
    padding: 0px 0px;
}
.padd-bot {
    padding-bottom: 0px;
}
.padd-sides {
    padding-right: 0px;
    padding-left: 0px;
}
/* #endregion GENERAL */
/*------------------------------ Mobile First ------------------------------*/
/* #region HEADER CON NAV */
header {
    background-color: #0084fd;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 10px 20px #0083fd6c;
    margin-bottom: 2rem;
}
header nav {
    padding: 1rem 0;
    color: white;
}
/* #endregion HEADER CON NAV */
/* #region MAIN */
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-6 {
    width: calc(100% / 12 * 6);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-12 {
    width: 100%;
}
/* #region services */
#services > .container > .row > .col-12 > .card {
    background-color: #b5ddff;
    border-radius: 30px;
    margin: 1rem;
    transition: .5s;
}
#services > .container > .row > .col-12 > .card:hover {
    background-color: #cbe7ff;
}
.card-section-one.main {
    padding-top: 2rem;
    padding-left: 2rem;
}
.card-section-one > h4 {
    color: #0084fd;
    font-size: 2rem;
}
.card-section-one > p {
    color: #5a6e7f;
    padding-bottom: 3rem;
}
.card-section-one > a {
    text-decoration: none;
    color: white;
    padding: .7rem 3rem;
    background-color: #0084fd;
    letter-spacing: 3px;
    border-radius: 20px;
    transition: .5s;
}
.card-section-one > a:hover {
    color: black;
}
.card-section-two > img {
    justify-items: flex-end;
    width: 100%;
    padding-top: 2rem
}
.card-section-one > i {
    color: #0084fd;
    scale: 2;
    padding: 3rem 0;
}

.card-section-two > p {
    padding: 2rem;
    color: #5a6e7f;
}
/* #endregion services */
/* #region strategic-planning */
#strategic-planning {
    background-color: #9792e4;
    margin: 3rem 0;
    padding: 4rem 2rem;
}
#strategic-planning > .container > .row > .col-12 > h3 {
    color: white;
    font-size: 3rem;
    padding: 2rem 0;
}
#strategic-planning > .container > .row > .col-12 > p {
    color: white;
    padding-bottom: 2rem;
}
.col-12 > img, .white-card > img {
    width: 100%;
}
.white-card {
    background-color: white;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    padding-bottom: 3rem;
}
.white-card > h4 {
    padding-top: 1rem;
}
.white-card > p {
    font-style: italic;
    padding: 1rem 0;
    padding-bottom: 3rem;
}
.white-card > a {
    font-size: 1rem;
    background-color: #9792e4;
    padding: 1rem 1.3rem;
    border-radius: 100%;
    text-decoration: none;
    color: black;
}
/* #endregion strategic-planning */
/* #region testimonials */
#testimonials {
    margin: 4rem 0;
}
#testimonials > .container {
    padding: 1rem;
}
#testimonials > .container > .row > .col-12 > div {
    padding: 1rem 0;
}
#testimonials > .container > .row > .col-12 > h2 {
    color: #9792e4;
    font-size: 2.5rem;
}
#testimonials > .container > .row > .col-12 > p {
    padding: 1.5rem 0;
    line-height: 1.8rem;
}
.purple-box {
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #9792e4;
    color: white;
    padding: 1rem;
    border-radius: 50px;
    margin: 1rem 0;
    line-height: 2rem;
}
.testimonial-text div {
    font-weight: bold;
}
.purple-box > .NAT-img, .purple-box > .CELIA-img, .purple-box > .BOB-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.purple-box > .NAT-img {
    background-image: url(img/testimonial1.jpg);
}
.purple-box > .CELIA-img {
    background-image: url(img/testimonial2.jpg);
}
.purple-box > .BOB-img {
    background-image: url(img/testimonial3.jpg);
}
/* #endregion testimonials */
/* #region benefits */
#benefits {
    margin: 3rem 0;
    background-color: #9792e4;
    padding: 5rem 1rem;
}
#benefits > .container > h2 {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 3rem;
}
.benefits-card {
    background-color: white;
    color: #9792e4;
    border-radius: 20px;
    padding: 1.5rem;
    padding-bottom: 2rem;
    margin: 1rem;
}
.card-number {
    font-size: 3rem;
    font-weight: 700;
}
.benefits-card > h4 {
    font-size: 1.5rem;
    padding: 1rem 0;
}
.benefits-card > p {
    line-height: 1.8rem;
    padding-bottom: 2rem;
    color: #5a6e7f;
}
.benefits-card > a {
    text-decoration: none;
    color: white;
    background-color: #9792e4;
    padding: .5rem 3rem;
    border-radius: 40px;
    letter-spacing: 3px;
    font-weight: bold;
}
/* #endregion benefits */
/* #region about us */
#about-us {
    margin: 0 2rem;
    margin-bottom: 3rem;
}
#about-us > .container > .row > .col-12 {
    padding: 1.5rem;
}
#about-us > .container > .row > .col-12 > h2 {
    color: #9792e4;
    font-size: 3rem;
}
#about-us > .container > .row > .col-12 > p {
    line-height: 2rem;
}
#about-us > .container > .row > .col-12 > .about-us-img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(img/about.jpg);
}
#about-us > .container > .row > .col-12 > .fa-solid.fa-quote-left {
    position: absolute;
    left: 8.5rem;
    top: 2rem;
    scale: 1.5;
    color: #9792e4;
}
#about-us > .container > .row > .col-12 > h3 {
    color: #9792e4;
    font-size: 1.5rem;
    padding: 1rem 0;
    padding-bottom: 1.5rem;
}
#about-us > .container > .row > .col-12 > a {
    text-decoration: none;
    color: white;
    background-color: #9792e4;
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: .8rem;
}
.p-relative {
    position: relative;
}
/* #endregion about us */
















/* #endregion MAIN */

/*------------------------------ DESKTOP ------------------------------*/
@media screen and (min-width: 1180px) {
    .container {
        width: 80%;
    }
    header nav > .mobile-menu {
        display: none;
    }
    header nav > .links {
        display: flex;
        gap: 1.5rem;
    }
    header nav > .links > a:not(:last-child) {
        text-decoration: none;
        color: #d9edff;
        font-weight: 100;
        margin: 0.5rem;
        transition: .3s;
    }
    .start {
        text-decoration: none;
        color: black;
        background-color: white;
        border-radius: 30px;
        padding: 0.5rem 1rem;
        transition: .5s;
    }
    .start:hover {
        background-color: lightblue;
        color: blue;
        padding: 0.5rem 3rem;
    }
    .col-12.col-md-8 > .card {
        display: flex;
    }
    #strategic-planning > .container > div.row {
        display: flex;
        flex-direction: row;
        padding: 0 6rem;
    }
    .card-section-two > img {
        padding-top: 2rem;
        padding-right: 2rem;
    }
    .col-l-6 {
        width: calc(100% / 12 * 6);
    }
    .white-card {
        width: 60%;
        align-self: flex-end;
    }
    .white-card > img {
        width: 100%;
    }
    div .col-l-4 {
        width: calc(100% / 12 * 4);
    }
}
/*------------------------------ /DESKTOP ------------------------------*/
/*------------------------------ TABLET ------------------------------*/
@media screen and (min-width: 768px) {
    .col-md-4 {
        width: calc(100% / 12 * 4);
    }
    .col-md-6 {
        width: calc(100% / 12 * 6);
    }
    .col-md-8 {
        width: calc(100% / 12 * 8);
    }
    #services > .container > .row > .col-12 > .card {
        height: 100%;
        margin: 0 1rem;
    }
    #services> .container > .row > .col-md-4,
    #services> .container > .row > .col-md-8 {
        margin: 1rem 0;
    }
    .purple-box {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
    .testimonial-text {
        width: 65%;
    }
}
/*------------------------------ /TABLET ------------------------------*/
